body{
    font-family: Noto Sans TC,sans-serif;
    line-height: 150%;
}

.header{
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4)),url("../images/header.png");
    /* background-image: url("../images/header.png"); */
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px;
    background-position-y:center ;   
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: white;
}

h2{
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding-bottom: 24px;    
}

h3{
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 0.05em;
    color:#57a203; 
    padding-bottom: 16px;
}

.header p{
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: white;
}

.container{
    width: 856px;
    margin: 0 auto;
}

.quote{
    text-align: center;
    padding: 32px;
    margin-top: 64px;
    margin-bottom: 48px;
    border-radius: 16px;
    background-color: #F5FEE7;
}

.intro{
    width: 1076px;
    margin: 0 auto;
}

.intro img{
    width: 100%;
    padding-bottom: 24px;
}

.content{
    border-bottom: 1px solid #DEE2E6;
    padding-bottom: 48px;
    margin-bottom: 48px;
}

.history li{
    margin-bottom: 12px;
    padding-left: 12px;
}
.history span{
    border-left: 1px solid black;
    padding-left: 10px;
    margin-left: 10px;
   
}

.concept li{
    border-left: 3px solid #DEE2E6;
    padding-left: 10px;
    margin-bottom: 12px;
}

.story li{
    margin-bottom: 12px;
}

.story li a{
    color: #57A203;
    text-decoration: none;
}   

.story li a:hover{
    color: #0084ff;
}   

.story span{
    border-bottom: 1px solid #57A203;
    padding-left: 10px;
}
